<!--
  ~ /*
  ~  (C) Copyright 2017 Ymatou (http://www.ymatou.com/).
  ~  All rights reserved.
  ~  */
  -->

<div class="widgets">

    <div class="row">

        <div class="col-md-12">
            <div class="col-md-12" id="searchPanel" style="padding-bottom:10px;">
                <form novalidate class="form-inline" role="form">
                    应用编号
                    <div class="form-group">
                        <select id="appId" class="form-control selectpicker with-search" data-size="10"
                                data-live-search="true" ng-model="obj.appId" >
                            <option value="">---- 请选择 ----</option>
                            <option ng-repeat="s in appIdList" value="{{s}}">{{s}}</option>
                        </select>
                    </div>
                    分发组
                    <div class="form-group"><input class="form-control" name="groupId" type="text" ng-model="obj.groupId">
                    </div>
                    <button id="search" class="btn btn-primary btn-large" ng-click="search()">查询</button>
                </form>
            </div>
            <div class="col-md-12" style="margin-top:10px;height:98%;overflow-x: auto;overflow-wrap: break-word;word-wrap: break-word; ">
                <table id="jqGrid"></table>
                <div id="jqGridPager"></div>
            </div>

        </div>
    </div>



</div>

<div id="queueContent" style="display:none;">
    <form novalidate style="margin:5px;">

        <div class="form-group">
            <label>应用编号</label>
            <input type="text" class="form-control" ng-model="queue.appId" readonly >
        </div>

        <div class="form-group">
            <label>业务代码</label>
            <input type="text" class="form-control" ng-model="queue.code" ng-readonly="queue.codeReadonly">
        </div>

        <div class="form-group">
            <label>业务描述</label>
            <input type="text" class="form-control" ng-model="queue.description" >
        </div>

        <div class="form-group">
            <label>是否启用</label>
            <select class="form-control selectpicker" ng-model="queue.enable">
                <option value="true">是</option>
                <option value="false">否</option>
            </select>
        </div>

        <div class="form-group">
            <label>是否开启日志</label>
            <select class="form-control selectpicker" ng-model="queue.enableLog">
                <option value="true">是</option>
                <option value="false">否</option>
            </select>
        </div>

        <div class="form-group">
            <label>Kafka拉取数量</label>
            <input type="number" class="form-control" ng-model="queue.poolSize" >
        </div>
        <div class="form-group">
            <label>检测进入补单的时间间隔（分钟）</label>
            <input type="number" class="form-control" ng-model="queue.checkCompensateDelay">
        </div>
        <div class="form-group">
            <label>检测进入补单的时间跨度（小时）</label>
            <input type="number" class="form-control" ng-model="queue.checkCompensateTimeSpan">
        </div>

        <div class="form-group" style="text-align: center">
            <button id="saveQueue" class="btn btn-primary btn-large" ng-click="saveQueue()">保存</button>
        </div>
    </form>
</div>